/* App.css */
.main-content {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
  /* background: url('b.png') no-repeat center center; */
  background: rgb(243, 243, 243);
}



.visual-card {
  flex: 4; /* New column for visuals */
  display: flex;
  flex-direction: column;
  height: 95vh; /* Set a fixed viewport height minus any desired margins */
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: white;
  overflow-y: auto; /* Ensures the content is scrollable */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling of the main webpage */
}
