@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* Apply Roboto Medium (500) font to the entire document */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
@import url('https://fonts.googleapis.com/css3?family=Pacifico&display=swap');
h3.ghost-title {
  /* font-family: 'Pacifico', cursive; */
  font-size: 1.5em; /* Adjust the size as needed */
  color: #523636; /* Adjust the color as needed */
  padding: px;
}


.chat-card-container {
  padding: 20; /* Remove padding */
  border: 3px solid transparent; /* Transparent border to use gradient */
  border-radius: 10px; /* Rounded edges */
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  /* box-sizing: border-box; */
  background-color: rgb(255, 255, 255);
  
  margin: 0; /* Remove margin to fill the container */
  height: 95vh; /* Ensure it fills the vertical space */
  width: 80vw; /* Ensure it fills the full width */
}



.chat-card {
  flex: 5; /* Adjusted to take less space */
  display: flex;
  flex-direction: column;
  height: 94.6vh; /* Set a fixed viewport height minus any desired margins */
  padding: 10px;
  
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: rgb(249, 249, 249); /* Dark blue background color */
  overflow: hidden; /* Ensures no overflow from this component */
  position: relative; /* To position the inner item */
}


.message.bot.visualization {
  background-color: #f5f5f5;
  padding: 10px;
  margin-top: 10px;
}

.visualization-content {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}



.chat-card-header::after {
  content: '';
  display: block;
  /* height: 2px; */
  background-color: #209ff5; /* Line color */
  width: 100%; /* Width of the line */ 
  margin: 10px auto 0 auto; /* Center the line and add margin */
}

.chat-card-header {
  display: flex; /* Ensure Flexbox is being used */
  align-items: center; /* Vertically centers the content */
  justify-content: center; /* Horizontally centers the content, adjust if needed */
  
  border: 2px solid transparent;
  background: linear-gradient(to right, rgb(255, 227, 205), rgb(255, 227, 205)) padding-box, 
              linear-gradient(to right, 
                #b88a4a 10%, /* Darkened gold */
                #d4b6b3 20%, /* Slightly darker rose pink */
                #c2a384 30%, /* Darkened gold */
                #c2a384 40%, /* Darkened gold */
                #d4b6b3 50%, /* Slightly darker rose pink */
                #c2a384 60%, /* Darkened gold */
                #a67b3d 70%, /* Darkened gold */
                #d4b6b3 80%, /* Slightly darker rose pink */
                #c2a384 90%  /* Darkened gold */
              ) border-box;
  border-radius: 15px 15px 0 0; /* Rounded top edges */
  padding: 5px;
  text-align: center;
  position: relative;
  z-index: 1; /* Ensure it stays above other elements */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow to match the card */
  width: 100%; /* Take up the full width */
  max-height: 50px;
  margin: 0; /* Remove any margin */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.chat-card-header h3.ghost-title {
  font-size: 1.3em; /* Adjust the size as needed */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
 
  margin: 0; /* Ensure no additional margin that could cause line breaks */
  padding: 0; /* Remove padding if any to ensure text fits */
}


.chat-content {
  border: 2px solid transparent;


  background: linear-gradient(
    to right,
    #f8f8f8, /* Dark Navy Blue */
 
    #f8f8f8 80%
  ) padding-box, 
              linear-gradient(to right, 
                #b88a4a 10%, /* Darkened gold */
                #d4b6b3 20%, /* Slightly darker rose pink */
                #c2a384 30%, /* Darkened gold */
                #c2a384 40%, /* Darkened gold */
                #d4b6b3 50%, /* Slightly darker rose pink */
                #c2a384 60%, /* Darkened gold */
                #a67b3d 70%, /* Darkened gold */
                #d4b6b3 80%, /* Slightly darker rose pink */
                #c2a384 90%  /* Darkened gold */
              ) border-box;
  border-top: none; /* Remove top border */
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #2e1edb; /* Background color for visualization */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove any margin */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  border-bottom-left-radius: 15px; /* Rounded corner at the bottom left */
  border-bottom-right-radius: 15px; /* Rounded corner at the bottom right */
}

 

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center; /* Center messages initially */
  transition: transform 0.5s ease; /* Smooth transition for the container */
  padding-bottom: 0px; 
  padding-top: 0px; 
}

.message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 15px;
  width: 80%; /* Ensure AI messages take up 50% of the container width */
  display: flex;
  flex-direction: column;
  color: #000000;
  transition: transform 0.5s ease, width 0.5s ease;
  text-align: left; /* Left-align text within chatbot messages */
}

.message.expanded {
  transform: translateX(-50%); /* Move the message to the left when expanded */
}

.visualization-box {
  width: 0;
  height: 100%;
  background-color: rgb(59, 125, 31);
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: width 0.5s ease, opacity 0.5s ease;
  opacity: 0; /* Start with the box invisible */
  padding: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.visualization-box.expanded {
  width: calc(100%); 
  transform: translateX(100%);
  opacity: 2; /* Fade in the box */
}

.message-meta {
  font-size: xx-small;
  color: rgb(255, 19, 19);
  text-align: center;
  margin-top: 4px;
  align-self: flex-start; /* Align the metadata at the bottom */
}

.message.user {
  text-align: left; /* Left-align user messages */
  margin-right: auto;
  width: 70%; /* Ensure user messages take up 100% of the container width */
  display: inline-block;
  word-wrap: break-word;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
  border: 2px solid transparent;
  background: linear-gradient(#ffffff, #ffffff) padding-box, 
              linear-gradient(to right, 
                rgb(153, 131, 131) 100%, /* Lightened gold */
                #ffe4e1 20%, /* Very light rose pink */
                #e6c79c 30%, /* Lightened gold */
                #e6c79c 40%, /* Lightened gold */
                #ffe4e1 50%, /* Very light rose pink */
                #e6c79c 60%, /* Lightened gold */
                #bd9152 70%, /* Lightened gold */
                #ffe4e1 80%, /* Very light rose pink */
                #e6c79c 90%  /* Lightened gold */
              ) border-box; /* Gold gradient with shine effect */
}

.message.bot {
  text-align: left; /* Left-align text within AI messages */
  background-color: #ffffff;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid transparent;
  background: linear-gradient(#ffffff, #ffffff) padding-box, 
              linear-gradient(to right, 
                #8190d2 100%, /* Lightened gold */
                #ffe4e1 20%, /* Very light rose pink */
                #e6c79c 30%, /* Lightened gold */
                #e6c79c 40%, /* Lightened gold */
                #ffe4e1 50%, /* Very light rose pink */
                #e6c79c 60%, /* Lightened gold */
                #bd9152 70%, /* Lightened gold */
                #ffe4e1 80%, /* Very light rose pink */
                #e6c79c 90%  /* Lightened gold */
              ) border-box; /* Gold gradient with shine effect */

}

.message.loading {
  text-align: center;
  background: none;
  border: none;
}

.message-checkbox {
  margin-right: 10px;
  cursor: pointer;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-checkbox:checked {
  background-color: black;
}

.message-checkbox:checked::before {
  content: '✔';
  color: white;
  font-size: 14px;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background: linear-gradient(to right,rgb(255, 227, 205), rgb(255, 227, 205)) padding-box;
  position: sticky;
  bottom: 0;
  border-radius: 0px;
  width: calc(100%);
  margin: 0 px;


}

.input-container input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  
}

.input-container button:last-child {
  margin-right: 20px;
}

.input-container button:hover {
  background-color: #555;
}

.input-container button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  transition: background-color 0.3s ease;
}

.input-container button .icon {
  margin-right: 0;
}

.loading-dots {
  display: flex;
  justify-content: center;
  align-items: center;

}
.disclaimer-text {
  text-align: center;
  
  font-size: 0.7em; /* Smaller font size */
  color: #0c0c0c; /* Adjust the text color */
  background: linear-gradient(to right,rgb(255, 227, 205), rgb(255, 227, 205)) padding-box;
  margin: 0; /* Remove default margin */

}


.loading-dot {
  width: 8px;
  height: 8px;
  margin: 0 3px;
  background-color: #333;
  border-radius: 50%;
  animation: loading 0.6s infinite alternate;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.pdf-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 45px; /* Adjust size to match other icons */
  height: 32px; /* Adjust size to match other icons */
}

.pdf-icon {
  width: 20px; /* Adjust size to match other icons */
  height: 20px; /* Adjust size to match other icons */
}

.pdf-button.active {
  background-color: #555;
  color: white;
}

.toggle-visualization {
  position: absolute;
  bottom: -20px;
  right: 10px;
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.reference-tab {
  position: absolute;
  bottom: -20px;
  right: 200px;
  background-color: #40784c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.thread-tab {
  position: absolute;
  bottom: -20px;
  right: 640px;
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.copy-tab {
  position: absolute;
  bottom: -20px;
  right: 500px; 
  background-color: #d4d4d4;
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.toggle-visualization:hover {
  background-color: #555;
}

.visualization {
  margin-top: 10px;
}

.suggested-questions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.suggested-question {
  background-color: rgba(221, 221, 221, 0.8); /* White translucent background */
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggested-question:hover {
  background-color: rgba(255, 255, 255, 1); /* Fully opaque on hover */
}

a {
  color: blue; /* Change this color as needed */
  text-decoration: underline; /* Make links underlined */
}

a:hover {
  color: rgb(48, 48, 121); /* Change this color as needed */
}
